/* ================= RESET ================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: black;
  height: 100svh;
  font-family: 'Courier New', Courier, monospace;
  transition: background-image 1s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-trans{
  position: fixed;
  top: 0;
  background-color: #0080ff67;
  width: 100%;
  height: 100svh;
}

/* ================= HEADER =============================================================================================== */
.navbar {
  padding: 30px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 10
}

.logo img { 
  width: 100%;
  height: 100%;
}

/* HAMBURGER*/
.navbar-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

nav {
  width: 100%;
  order: 3;
}

.nav-menu {
  list-style: none;
  background-color: rgba(255, 255, 255, 0.949);
  display: none;
  position: absolute;
  top:0;
  right:0;
  flex-direction: column;
  width: 30%;
  height: 100svh;
  padding: 30px 20px;
  /* margin: 0.5% 0 1% 80%; */
}
.nav-menu p{
  font-size: 30px;
  font-weight:1000;
  text-align: left;
  color: #000dfff1;
}
.nav-menu li a {
  display: flex;
  padding: 10px 0 10px 10px;
  color: #00e1ff;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}
.nav-menu li a:hover {
  color: #0080ff;
  background-color: rgba(0, 255, 238, 0.215);
}
.nav-menu li a.active {
  color: #0080ff;
  font-weight: 600;
  background-color: rgba(37, 99, 235, 0.15);
}
.nav-toggle {
  display: none;
}
.hamburger {
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
  z-index: 10;
  
}
.hamburger span {
  display: block;
  width: 30px;
  height: 7px;
  background: #ffffff;
  transition: 0.3s;
  border-radius: 20px;
  border: 1px solid rgb(10, 10, 10);
}
.nav-toggle:checked ~ nav .nav-menu {
  display: flex;
}
#navToggle:checked ~ .hamburger span:nth-child(1) {
  transform: rotate(-45deg) translate(-9px, 6px);
  background-color: #000dfff1;
}
#navToggle:checked ~ .hamburger span:nth-child(2) {
  opacity: 0;
}
#navToggle:checked ~ .hamburger span:nth-child(3) {
  transform: rotate(45deg) translate(-9px, -6px);
  background-color: #000dfff1;
}





/* ================= MAIN ===================================================================================== */
.hero {
  position: relative;
  top: 80px;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* CONTENT DI ATAS */
.hero-content {
  position: absolute;
  padding-left: 28px;
  top: 0;
  left: 0;
  text-align: left;
  color: white;
  z-index: 2;

}

.hero h1 {
  font-size: 30px;
}

.hero p {
  margin-top: 10px;
  opacity: 0.9;
}

/* ================= SEARCH ================= */
.search {
  margin-top: 25px;
  display: flex;
  background: white;
  border-radius: 50px;
  overflow: hidden;
  width: 500px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.search input {
  flex: 1;
  padding: 15px;
  font-size: 16px;
  border: none;
  outline: none;
}

.search button {
  padding: 0 20px;
  border: none;
  background: #ffb347;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.search button:hover {
  background: #ff9800;
}

.search-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 10;
}

/* ================= ADVANCED BUTTON ================= */
.advanced-btn {
  margin-top: 20px;
}

.advanced-btn a {
  color: #ffffff8e;
  text-decoration: underline;
  font-size:18px;
  
}

/* ================= POPUP ================= */
.pop-up {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* overlay gelap + blur */
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  z-index: 1000;
}

.pop-up-container {
  background: white;
  width: 500px;
  margin: 200px auto;
  padding: 25px;
  border-radius: 18px;
  position: relative;
  animation: fadeIn 0.4s ease;
}

.pop-up-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #2c1bb3;
}

.pop-up-container input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.pop-up-container button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  background: #2c1bb3;
  color: white;
  cursor: pointer;
}

.close {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 20px;
  cursor: pointer;
}

/* ================= FOOTER ===================================================================================================== */
footer {
  color: wheat;
  background-color: black;
  position: fixed;
  height: 50px;
  width: 100%;
  bottom: 0;
  justify-items: center;
  place-content: center;
  z-index: 99;
}

/* ================= ANIMATION ================= */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
